.token {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  small {
    margin: 0;
    padding: 0;
    font-family: 'Iceland', sans-serif;
  }

  input,
  label {
    font-family: 'Iceland', sans-serif;
  }

  color: #ffda5d;

  hgroup {
    h4 {
      font-size: 1.7rem;
    }
  }
  .tokenContent {
    padding: 20px 40px;
    border-radius: 21px;
    background: #1f2224;

    .demoBtn {
      background: #8a1700;
      padding: 4px 12px;
      border-radius: 20px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
    }
  }
}
