* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  transition: scroll-behavior 0.4s ease-in-out;
  background-color: #141414;
}

a {
  text-decoration: none !important;
  color: white;
  font-family: 'Iceland', sans-serif;
}

a:hover {
  color: #b88e00 !important;
  /* color: #ffda5d !important; */
}

img {
  width: 100%;
  height: auto;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

button {
  background: transparent;
  border: none;
}
.toggleBtn {
  color: #fff;
  font-size: 26px;
}

@media screen and (min-width: 860px) {
  .navbar {
    background-color: #000000;
    border-radius: 50px;
    height: 80px;
  }
  /* .small-screen {
    display: none;
  } */
}

@media screen and (max-width: 850px) {
  .move-left {
    margin-left: 20px;
  }
  /* .big-screen {
    display: none;
  } */
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    font-size: 26px !important;
    margin-top: 10px !important;
    color: white !important;
    border-radius: 0.25rem;
  }

  /* .navbar-toggler-icon {
  } */

  .navbar-collapse {
    background-color: #000000;
    border-radius: 50px;
    padding: 20px;
    position: relative;
    top: 8px;
  }
  .dash {
    position: relative;
    right: 5px !important;
    font-size: 17px;
    width: 100px !important;
  }
}

@font-face {
  font-family: 'paladins';
  src: url('./fonts/Paladins-Semi-Italic/paladinsleft.ttf') format('ttf');
}

@font-face {
  font-family: 'Paladins Condensed';
  src: url('./fonts/Paladins_Condensed/paladinscond.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Paladins Condensed';
  /* font-family: "Iceland", sans-serif; */
  font-style: italic;
  /* text-transform: uppercase; */
}

.pala-straight {
  font-family: 'Paladins Condensed';
}

p {
  font-family: 'Iceland', sans-serif;

  font-style: normal;
  color: white;
  font-size: 20px;
}

.texttt {
  font-family: 'Iceland', sans-serif;
}

.text {
  text-align: justify;
}

.spacing {
  margin-top: 120px;
}

.boxCard {
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.box-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1em;
  background: url('./assets/Rectangle3.png') top center no-repeat;
  /* background: url('./assets/box.svg') top center no-repeat; */
  background-size: 100% 100%;
  width: 30%;
  height: 290px;
  color: #c9a732;
}

.box-img h2 {
  font-size: 3rem;
  color: #c9a732;
  margin: 0;
}

.box-img p {
  font-size: 2rem;
  color: #c9a732;
  margin: 0.3em 0;
}

.box-img-buy {
  background: url('./assets/Rectangle2.png') top center no-repeat;
  background-size: 100% 100%;
  width: 90%;
  height: 300px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.boxCard:hover,
.box-img-buy-2:hover {
  transform: scale(1.2);
}

.box-img-buy-2 {
  background-image: url('./assets/Rectangle332.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.big {
  width: 80%;
  margin-left: 1em;
}

.big-sub {
  width: 30%;
  height: 30%;
}

.button {
  background-color: #ca2023;
  border-radius: 10px;
  width: 336px;
  height: 66px;
  border: none;
  font-family: 'Iceland', sans-serif;
}

.descSmall {
  font-family: 'Iceland', sans-serif;
}

.dashboard-button {
  background-color: #ca2023;
  border-radius: 10px;
  font-size: 25px;
  border: none;
  padding: 0.2em 1.3em;
  font-family: 'Iceland', sans-serif;
}

.tokess {
  color: #c9a732;
}

.dateToBe {
  color: #c9a732;
  text-align: center;
  font-size: 48px;
}

.buy-button {
  background-color: #c9a732;
  border-radius: 4px;
  font-size: 1.1rem;
  /* height: 56px; */
  padding: 0.8em 1.3em;
  border: none;
  font-family: 'Iceland', sans-serif;
  /* position: absolute; */
  color: #000000 !important;
  /* bottom: 295px; */
  margin-bottom: -150px;
}

.element {
  font-size: 1px;
  padding: 1px;
  color: white;

  animation: roll 3s;
}

.walletPage {
  background: url('./assets/Hero.png') top center no-repeat;
  background-size: cover;

  padding-bottom: 5em;
}

@keyframes roll {
  0% {
    transform: rotate(0);
    width: 20px;
  }
  100% {
    transform: rotate(360deg);
  }
}

.roadmap {
  background: url('./assets/roadmap.png') top center no-repeat;
  background-size: 100% 100%;
  border-radius: 10px !important;
  width: 100%;
  height: 454px;
}

.phaseDeets {
  height: 180px;
}

.phaseDeets p {
  color: #000;
}

.phaseCard {
  display: grid;
  place-items: center;
  margin-top: 1em;
  padding: 2em 0;
  border: solid 1px black;
}

@media screen and (max-width: 850px) {
  .dateToBe {
    color: #c9a732;
    text-align: center;
    font-size: 30px;
  }

  .box-img {
    width: 45%;
  }
  .top {
    margin-top: 40px;
  }
  .img-small {
    width: 360px;
  }
  .byte {
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .image {
    width: 274px;
  }
  .one {
    background-image: url('./assets/HeroText.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 510px;
  }

  .one-buy {
    background-image: url('./assets/Hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 650px; */
  }

  .hold {
    color: #c9a732;
    font-size: 24px;
    font-weight: bolder;
    line-height: 40px;
  }
  .button {
    font-size: 25px;
  }

  .right {
    position: relative;
    left: -67px;
  }

  .menu h2 {
    font-size: 16px;
    /* padding: 0px 15px 0px;
    margin-top: 25px; */
  }

  .bytee-img {
    width: 400px;
  }
  .roadmap {
    height: 354px;
  }

  .left {
    position: relative;
    left: 20px;
  }

  .white-bg {
    background-color: #000000;
    color: #ffc500;
    height: 200px;
  }
}

@media screen and (min-width: 860px) {
  .menu h2 {
    font-size: 24px;
    /* padding: 0px 15px 0px;
    margin-top: 25px; */
  }
  .phaseDeets {
    height: 220px;
  }

  .boxCard {
    width: 45%;
    transition: all 0.3s ease-in-out;
  }

  .eth {
    position: relative;
    right: 80px;
  }
  .image {
    width: 474px;
  }
  .one {
    background-image: url('./assets/HeroText.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 1050px;
  }

  .one-buy {
    background-image: url('./assets/Hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
  }

  .hold {
    color: #c9a732;
    font-size: 40px;
    font-weight: bolder;
    line-height: 50px;
  }

  .button {
    font-size: 38px;
  }
}
.white-bg {
  background: url('./assets/white-bg.png') center center no-repeat;
  background-size: cover;
  height: 160px;
  display: grid;
  place-items: center;
  margin-top: 100px;
}

@media screen and (max-width: 600px) {
  .box-img {
    width: 100%;
  }
}
